{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock  %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% if news %}
            {% for el in news%}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <h5>{{ el.anons}}</h5>
                    <p>{{ el.date}}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать подробнее</a>
                </div>
            {% endfor %} 
        {% else %}
            <p>Еще нет новостей</p>
        {% endif %}
            
        {# Тест комментария #}
    </div>
{% endblock  %}